
<!-- indicadores -->
<!-- <div class="row"> -->
  <!-- <div class="col-md-12"> -->
  <!-- <div class="m-card-body"> -->
    <!-- <h5>Ventas: Vista general</h5> -->
    <!-- <span>Muestra los objetivos y ventas del ultimo periodo</span> -->
  <!-- </div> -->
  <!-- </div> -->
<!-- </div> -->
<!-- <br> -->
<!-- <hr> -->
<div class="row animated fadeIn">
  <div class="col-md-4 text-center">
    <div class="m-card">
      <div class="m-card-toolbar">
        <div class="botones">
          <span class="btn btn-config"> <i class="fas fa-ellipsis-v"></i></span>          
        </div>
        <span class="titulo">Meta Diaria</span>
      </div>
      <div class="m-card-body">
        <div id="chart_m_dia"></div>
      </div>
    </div>
  </div>

  <div class="col-md-4 text-center">
    <div class="m-card">
      <div class="m-card-toolbar">
        <div class="botones">
          <span class="btn btn-config"> <i class="fas fa-ellipsis-v"></i></span>
        </div>
        <span class="titulo">Meta Mensual</span>
      </div>
      <div class="m-card-body">
        <div id="chart_m_mes"></div>
      </div>
    </div>
  </div>

  <div class="col-md-4 text-center">
    <div class="m-card">
      <div class="m-card-toolbar">
        <div class="botones">
          <span class="btn btn-config"> <i class="fas fa-ellipsis-v"></i></span>
        </div>
        <span class="titulo">Meta Anual</span>
      </div>
      <div class="m-card-body">
        <div id="chart_m_yy"></div>
      </div>
    </div>
  </div>
  
</div>
<!-- indicadores -->
<br>
<!-- utilimas semanas y ultimos meses -->
<div class="row">

  <div class="col-md-6 text-center">
    <div class="m-card">
      <div class="m-card-toolbar">
        <div class="botones">
          <span class="btn btn-config"> <i class="fas fa-ellipsis-v"></i></span>
        </div>
        <span class="titulo">Como van las ventas esta semana?</span>
      </div>
      <div class="m-card-body">
        <div class="row text-center">
          <div class="col-sm-6 text-center border-de-dotted">
            <div>
              <div class="label-title-chart">{{total_venta_last_week_now}}</div>
              <div class="label-subtitle-chart c-plomo-0 fsize-07">Total en ventas</div>
              <div class="label-subtitle-chart c-plomo-0 fsize-07">
                <span class="font-weight-bold" [ngClass]="por_signo_week_now === 0 ? 'text-success' : 'text-danger'">{{por_venta_now_vs_previus_week}}%</span>
                <span class="font-weight-bold"> {{dif_venta_now_vs_previus_week}}</span> 
                <span class="font-weight-bold text-success" [hidden]="por_signo_week_now === 1"> mas</span>
                <span class="font-weight-bold text-danger" [hidden]="por_signo_week_now === 0"> menos</span> 
                que la semana pasada
              </div>
            </div>
          </div>
          <div class="col-sm-6 text-center">
            <div>
              <div class="label-title-chart">{{count_pedidos_last_week_now}}</div>
              <div class="label-subtitle-chart c-plomo-0 fsize-07">Pedidos atendidos</div>
            </div>
          </div>
          <div class="col-sm-12 text-center">
            <br>
            <div *ngIf="dia_week_mas_venta!=''" class="label-subtitle-chart c-aaa fsize-08">{{dia_week_mas_venta}}</div>     
            <div *ngIf="dias_paso_meta_week!=''" class="label-subtitle-chart c-aaa fsize-08">{{dias_paso_meta_week}}</div>
          </div>
        </div>
        <!-- grafico -->        
        <div id="chart_last_sem"></div>
      </div>
    </div>
  </div>

  <!-- meses -->
  <div class="col-md-6 text-center">
    <div class="m-card">
      <div class="m-card-toolbar">
        <div class="botones">
          <span class="btn btn-config"> <i class="fas fa-ellipsis-v"></i></span>
        </div>
        <span class="titulo">Como van las ventas en este mes?</span>
      </div>
      <div class="m-card-body">
        <div class="row text-center">
          <div class="col-sm-6 text-center border-de-dotted">
            <div>
              <div class="label-title-chart">{{total_venta_last_mes_now}}</div>
              <div class="label-subtitle-chart c-plomo-0 fsize-07">Total en ventas</div>
              <div class="label-subtitle-chart c-plomo-0 fsize-07">
                <span class="font-weight-bold"
                  [ngClass]="por_signo_mes_now === 0 ? 'text-success' : 'text-danger'">{{por_venta_now_vs_previus_mes}}%</span>
                <span class="font-weight-bold"> {{dif_venta_now_vs_previus_mes}}</span>
                <span class="font-weight-bold text-success" [hidden]="por_signo_mes_now === 1"> mas</span>
                <span class="font-weight-bold text-danger" [hidden]="por_signo_mes_now === 0"> menos</span>
                que el mes pasado.
              </div>
            </div>
          </div>
          <div class="col-sm-6 text-center">
            <div>
              <div class="label-title-chart">{{count_pedidos_last_mes_now}}</div>
              <div class="label-subtitle-chart c-plomo-0 fsize-07">Pedidos atendidos</div>
            </div>
          </div>
          <div class="col-sm-12 text-center">
            <br>
            <div *ngIf="dia_week_mas_venta!=''" class="label-subtitle-chart c-aaa fsize-08">{{mes_mas_venta}}</div>
            <div *ngIf="dias_paso_meta_week!=''" class="label-subtitle-chart c-aaa fsize-08">{{mes_paso_meta_mes}}</div>
          </div>
        </div>
        <!-- grafico -->
        <div id="chart_last_meses"></div>
      </div>
    </div>
  </div>
  
</div>
<!-- utilimas semanas y ultimos meses -->
<br>
<div class="row">
  <div class="col-md-12">
    <div class="m-card">
      <div class="m-card-toolbar">
        <div class="botones">
          <span class="btn btn-config"> <i class="fas fa-ellipsis-v"></i></span>
        </div>
        <span class="titulo">Que hora hay mas afluencia de clientes?</span>
      </div>
      <div class="m-card-body">
        <div class="row text-center">
          <div class="col-sm-6 text-center border-de-dotted">
            <div>
              <div class="label-title-chart-sm">{{horas_punta}}</div>
              <div class="label-subtitle-chart c-plomo-0 fsize-07">Horas punta</div>
            </div>
          </div>
          <div class="col-sm-6 text-center">
            <div>
              <div class="label-title-chart-sm">{{horas_libres}}</div>
              <div class="label-subtitle-chart c-plomo-0 fsize-07">Horas mas libres</div>
            </div>
          </div>          
        </div>
        <!-- grafico -->
        <div id="chart_hora_punta"></div>
      </div>
    </div>
  </div>
</div>
<br>

<!-- tabla clientes -->
<div class="row">
  <div class="col-md-12">
    <div class="m-card">
      <div class="m-card-toolbar">
        <div class="botones">
          <span class="btn btn-config"> <i class="fas fa-ellipsis-v"></i></span>
        </div>
        <span class="titulo">Que clientes consumen mas?</span>
      </div>
      <div class="m-card-body">
        <br>
        <!-- tabla -->
        <table mat-table [dataSource]="data_cliente_consumo" class = "table_sm" style="width: 100%">

          <ng-container matColumnDef="Cliente">
            <th mat-header-cell *matHeaderCellDef> Cliente </th>
            <td mat-cell *matCellDef="let element" style="width: 45%"> {{element.value.nombres}} </td>
          </ng-container>

          <ng-container matColumnDef="tp">
            <th mat-header-cell *matHeaderCellDef> Tipo </th>
            <td mat-cell *matCellDef="let element"> {{element.value.tipo_cliente_abr}} </td>
          </ng-container>

          <ng-container matColumnDef="Visitas">
            <th mat-header-cell *matHeaderCellDef> Visitas </th>
            <td mat-cell *matCellDef="let element"> {{element.value.count}} </td>
          </ng-container>

          <ng-container matColumnDef="Frecuencia">
            <th mat-header-cell *matHeaderCellDef> Frecuencia </th>
            <td mat-cell *matCellDef="let element"> {{element.value.frecuencia_visitas}} dias</td>
          </ng-container>

          <ng-container matColumnDef="Ultima Visita">
            <th mat-header-cell *matHeaderCellDef> Ultima Visita </th>
            <td mat-cell *matCellDef="let element"> Hace {{element.value.dias_ultima_visita}} dias</td>
          </ng-container>

          <ng-container matColumnDef="Consumo Promedio">
            <th mat-header-cell *matHeaderCellDef class="text-right"> Consumo Promedio </th>
            <td mat-cell *matCellDef="let element" class="text-right"> {{element.value.ticket_promedio | number: '0.2'}}</td>
          </ng-container>

          <ng-container matColumnDef="Consumo Total">
            <th mat-header-cell *matHeaderCellDef class="text-right"> Consumo Total </th>
            <td mat-cell *matCellDef="let element" class="text-right"> {{element.value.xtotal | number: '0.2'}}</td>
          </ng-container>


          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
      </div>
    </div>
  </div>
</div>
<!-- tabla clientes -->

<!-- analita de clientes -->
<div class="row">
<div class="col-md-4">
  <div class="m-card">
    <div class="m-card-toolbar">
      <div class="botones">
        <span class="btn btn-config"> <i class="fas fa-ellipsis-v"></i></span>
      </div>
      <span class="titulo">Tipo de clientes.</span>
    </div>
    <div class="m-card-body">      
      <!-- grafico -->
      <div id="chart_clie_tpc"></div>
    </div>
  </div>
</div>

<div class="col-md-8">
  <div class="m-card">
    <div class="m-card-toolbar">
      <div class="botones">
        <span class="btn btn-config"> <i class="fas fa-ellipsis-v"></i></span>
      </div> 
      <span class="titulo">Cual es la tasa de participación de mis clientes en este último mes?</span>     
    </div>
    <div class="m-card-body">      
      <!-- grafico -->
      <div class="row">
        <div class="col-md-6">
          <div>
            <div class="label-title-chart">{{tasa_clientes_nuevos}}%</div>
            <div class="label-subtitle-chart c-plomo-0 fsize-07 font-weight-bold">Clientes nuevos</div>
            <div class="label-subtitle-chart c-plomo-0 fsize-07">En este periodo se obtuvo <span class="font-weight-bold">{{tasa_clientes_nuevos_count}}</span> clientes nuevos</div>
            <div class="label-subtitle-chart c-plomo-0 fsize-07">
              <span class="font-weight-bold" [ngClass]="tasa_clientes_nuevos_signo === 0 ? 'text-success' : 'text-danger'">{{tasa_clientes_nuevos_mes_anterior}}%</span>
              <!-- <span class="font-weight-bold"> {{dif_venta_now_vs_previus_mes}}</span> -->
              <span class="font-weight-bold text-success" [hidden]="tasa_clientes_nuevos_signo === 1"> mas</span>
              <span class="font-weight-bold text-danger" [hidden]="tasa_clientes_nuevos_signo === 0"> menos</span>
              que el mes pasado.
            </div>
          </div>
          <br>
          <hr>
          <div>
            <div class="label-title-chart">{{tasa_clientes_retencion}}%</div>
            <div class="label-subtitle-chart c-plomo-0 fsize-07"><span class="font-weight-bold">Tasa de retención</span> <span> La retención de clientes supone la capacidad que tiene el negocio para retener o fidelizar a sus clientes.</span></div>
            <div class="label-subtitle-chart c-plomo-0 fsize-07">En este periodo <span class="font-weight-bold">{{tasa_clientes_retencion_count}}</span> clientes volvieron a consumir más de una vez.</div>
            <div class="label-subtitle-chart c-plomo-0 fsize-07">
              <span class="font-weight-bold" [ngClass]="tasa_clientes_retencion_signo === 0 ? 'text-success' : 'text-danger'">{{tasa_clientes_retencion_mes_anterior}} clientes </span>
              <!-- <span class="font-weight-bold"> {{dif_venta_now_vs_previus_mes}}</span> -->
              <span class="font-weight-bold text-success" [hidden]="tasa_clientes_retencion_signo === 1"> mas</span>
              <span class="font-weight-bold text-danger" [hidden]="tasa_clientes_retencion_signo === 0"> menos</span>
              que el mes pasado.
            </div>
            <br>
          </div>
        </div>

        <div class="col-md-6">
          <div>
            <div class="label-title-chart">{{tasa_clientes_tiket_promedio}}</div>
            <div class="label-subtitle-chart c-plomo-0 fsize-07 font-weight-bold">Ticket Promedio.</div>
            <div class="label-subtitle-chart c-plomo-0 fsize-07">Indica el gasto promedio por cada cosumo.</div>            
            <div class="label-subtitle-chart c-plomo-0 fsize-07">
              <span class="font-weight-bold"
                [ngClass]="tasa_clientes_tiket_promedio_signo === 0 ? 'text-success' : 'text-danger'">{{tasa_clientes_tiket_promedio_mes_anterior}}</span>              
              <span class="font-weight-bold text-success" [hidden]="tasa_clientes_tiket_promedio_signo === 1"> mas</span>
              <span class="font-weight-bold text-danger" [hidden]="tasa_clientes_tiket_promedio_signo === 0"> menos</span>
              que el mes pasado.
            </div>
          </div>
          <br>
          <hr>
          <div>
            <div class="label-title-chart">{{tasa_clientes_desercion}}%</div>
            <div class="label-subtitle-chart c-plomo-0 fsize-07"><span class="font-weight-bold">Tasa de deserción o abandono.</span></div>
            <div class="label-subtitle-chart c-plomo-0 fsize-07"><span class="font-weight-bold">{{tasa_clientes_desercion_count}} clientes</span> no volvieron a venir en este ultimo mes.</div>
            <div class="label-subtitle-chart c-plomo-0 fsize-07">
              <span class="font-weight-bold"
                [ngClass]="tasa_clientes_desercion_signo ? 'text-success' : 'text-danger'">{{tasa_clientes_desercion_mes_anterior}}%</span>              
              <span class="font-weight-bold text-danger" [hidden]="tasa_clientes_desercion_signo"> mas</span>
              <span class="font-weight-bold text-success" [hidden]="!tasa_clientes_desercion_signo"> menos</span>
              que el mes pasado.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</div>
<br><br>
<!-- analita de clientes -->

<!-- <mat-card>
<div id="chart"></div>
</mat-card> -->
