
<!-- indicadores -->
<div class="row">

  <div class="col-md-4 text-center">
    <div class="m-card">
      <div class="m-card-toolbar">
        <div class="botones">
          <span class="btn btn-config"> <i class="fas fa-ellipsis-v"></i></span>          
        </div>
        <span class="titulo">Meta Diaria</span>
      </div>
      <div class="m-card-body">
        <div id="chart_m_dia"></div>
      </div>
    </div>
  </div>

  <div class="col-md-4 text-center">
    <div class="m-card">
      <div class="m-card-toolbar">
        <div class="botones">
          <span class="btn btn-config"> <i class="fas fa-ellipsis-v"></i></span>
        </div>
        <span class="titulo">Meta Mensual</span>
      </div>
      <div class="m-card-body">
        <div id="chart_m_mes"></div>
      </div>
    </div>
  </div>

  <div class="col-md-4 text-center">
    <div class="m-card">
      <div class="m-card-toolbar">
        <div class="botones">
          <span class="btn btn-config"> <i class="fas fa-ellipsis-v"></i></span>
        </div>
        <span class="titulo">Meta Anual</span>
      </div>
      <div class="m-card-body">
        <div id="chart_m_yy"></div>
      </div>
    </div>
  </div>
  
</div>
<!-- indicadores -->
<br>
<!-- utilimas semanas y ultimos meses -->
<div class="row">

  <div class="col-md-6 text-center">
    <div class="m-card">
      <div class="m-card-toolbar">
        <div class="botones">
          <span class="btn btn-config"> <i class="fas fa-ellipsis-v"></i></span>
        </div>
        <span class="titulo">Como van las ventas esta semana?</span>
      </div>
      <div class="m-card-body">
        <div class="row text-center">
          <div class="col-sm-6 text-center border-de-dotted">
            <div>
              <div class="label-title-chart">{{total_venta_last_week_now}}</div>
              <div class="label-subtitle-chart c-plomo-0 fsize-07">Total en ventas</div>
              <div class="label-subtitle-chart c-plomo-0 fsize-07">
                <span class="font-weight-bold" [ngClass]="por_signo_week_now === 0 ? 'text-success' : 'text-danger'">{{por_venta_now_vs_previus_week}}%</span>
                <span class="font-weight-bold"> {{dif_venta_now_vs_previus_week}}</span> 
                <span class="font-weight-bold text-success" [hidden]="por_signo_week_now === 1"> mas</span>
                <span class="font-weight-bold text-danger" [hidden]="por_signo_week_now === 0"> menos</span> 
                que la semana pasada
              </div>
            </div>
          </div>
          <div class="col-sm-6 text-center">
            <div>
              <div class="label-title-chart">{{count_pedidos_last_week_now}}</div>
              <div class="label-subtitle-chart c-plomo-0 fsize-07">Pedidos atendidos</div>
            </div>
          </div>
          <div class="col-sm-12 text-center">
            <br>
            <div class="label-subtitle-chart c-aaa fsize-08">Siendo Miercoles el dia que mas se vendio.</div>
          </div>
        </div>
        <!-- grafico -->
        <br>
        <div id="chart_last_sem"></div>
      </div>
    </div>
  </div>

  <div class="col-md-6 text-center">
    <div class="m-card">
      <div class="m-card-toolbar">
        <div class="botones">
          <span class="btn btn-config"> <i class="fas fa-ellipsis-v"></i></span>
        </div>
        <span class="titulo">Ultimos Meses</span>
      </div>
      <div class="m-card-body">
        <br>
        <div id="chart_last_meses"></div>
      </div>
    </div>
  </div>
  
</div>
<!-- utilimas semanas y ultimos meses -->

<br>
<mat-card>
<div id="chart"></div>
</mat-card>
