<mat-toolbar class="toolbar">  
    <mat-toolbar-row>
        <button mat-icon-button (click)="showDrawer()">
          <i class="fas fa-bars"></i>
        </button>
        <div class="titutlo_toolbar">
          <!-- <span>Ventas | Vista general</span> -->
          <app-breadcrumb class="titutlo_toolbar"></app-breadcrumb>
          <!-- <span>Vista general</span> -->
        </div>
        <span class="example-fill-remaining-space"></span>        

        
        <button mat-icon-button (click)="showDrawer()">
          <i class="fas fa-filter" title="Filtrar"></i>
        </button>
        <button mat-icon-button (click)="showDrawer()">
          <i class="fas fa-cog" title="Configurar"></i>
        </button>
        <button mat-icon-button (click)="showDrawer()">
          <i class="fas fa-sync-alt fa-spin" title="Refrescar"></i>
        </button>
        <button mat-icon-button (click)="exitProgram()">
          <i class="fas fa-sign-out-alt" title="Salir"></i>
        </button>        
        
    </mat-toolbar-row>
</mat-toolbar>