<div class="animated fadeIn">
  <div class="m-card">
    <div class="m-card-toolbar">
      <span class="titulo">Analitica: Módulo Gerencial</span><br>
      <p class="text-secondary fs-13 text-justify hidden-mobile">En este módulo se organizan, ordena y analizan todos
        los datos
        recopilados por el sistema
        para convertirlos en información relevante para la empresa,
        como también presentar esta información de manera clara y precisa para la toma de decisiones.</p>
    </div>
    <hr>
    <div class="m-card-body">
        <div class="row">
          <div class="col-md-6 text-center">
            <img class="img-w-100" src="assets/images/worked.gif" alt="">
          </div>
          
          <div class="col-md-6">

            <div class="text-right">
              <div class="m-card">
                <div class="m-card-body text-right xCursor" matRipple matRippleColor="rgba(57,73,171,0.2)"
                  [routerLink]="['../punto-equilibrio']">
                  <div class="row">
                    <div class="col-md-10">
                      <span class="titulo">Punto de Equilibrio</span><br>
                      <div class="label-subtitle-chart c-aaa fsize-07 pt-1">
                         Es uno de los elementos centrales del negocio pues permite determinar el
                         nivel de ventas necesario para cubrir los costos totales.
                      </div>
                    </div>
                    <div class="col-md-2">
                      <img src="assets/images/punto-equilibrio.png" width="50px" alt="">
                    </div>
                  </div>                  
                </div>
              </div>
            </div>
            <hr>

            <div class="text-right">
              <div class="m-card">
                <div class="m-card-body text-right xCursor" matRipple matRippleColor="rgba(57,73,171,0.2)"
                  [routerLink]="[ '/ventas']">
                  <div class="row">
                    <div class="col-md-10">
                      <span class="titulo">Indicadores de Venta</span><br>
                      <div class="label-subtitle-chart c-aaa fsize-07 pt-1">
                        Indicadores clave del negocio. La medición es muy importante para que sepas si los objetivos se
                        alcanzaron y lo que necesitarás mejorar para alcanzarlos.
                      </div>
                    </div>
                    <div class="col-md-2">
                      <img src="assets/images/metas-objetivos.png" width="50px" alt="">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <hr>

            <div class="text-right">
              <div class="m-card">
                <div class="m-card-body text-right xCursor" matRipple matRippleColor="rgba(57,73,171,0.2)"
                  [routerLink]="[ '/configuraciones']">
                  <div class="row">
                    <div class="col-md-10">
                      <span class="titulo">Establecer Metas</span><br>
                      <div class="label-subtitle-chart c-aaa fsize-07 pt-1">
                        Establecer metas y objetivos es una acción necesaria para lograr el éxito del negocio.
                      </div>
                    </div>
                    <div class="col-md-2">
                      <img src="assets/images/establecer-meta.png" width="50px" alt="">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <hr>
            <!-- <div class="col-md-6">
              <div class="m-card conBorde">
                <div class="m-card-body text-center xCursor" matRipple matRippleColor="rgba(57,73,171,0.2)">
                  <img src="assets/images/lameta.png" alt="">
                  <div class="label-subtitle-chart c-plomo-0 fsize-08 pt-1">Revisa el cumplimiento de las metas y
                    objetivos
                    propuestos.</div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="m-card conBorde">
                <div class="m-card-body text-center xCursor" matRipple matRippleColor="rgba(57,73,171,0.2)">
                  <img src="assets/images/lameta.png" alt="">
                  <div class="label-subtitle-chart c-plomo-0 fsize-08 pt-1">Revisa el cumplimiento de las metas y
                    objetivos
                    propuestos.</div>
                </div>
              </div>
            </div> -->
          </div>

                    
        </div>
    </div>
  </div>

</div>