<div class="row">
  <div class="col-md-12">
    <div class="m-card">
      <div class="m-card-toolbar">
        <div class="botones">
          <span class="btn btn-config"> <i class="fas fa-ellipsis-v"></i></span>
        </div>
        <span class="titulo">Cual es el consumo por meses y la rentabilidad obtenida?</span>
      </div>
      <div class="m-card-body" class="p-2">
        <div id="chart_consumo_mm_y_rentabilidad" class="w-100"></div>
        <div id="chart_consumo_mm_y_rentabilidad_dd" class="w-100"></div>
      </div>
    </div>
  </div>
</div>  

<div class="row">
  <div class="col-md-4">
    <div class="m-card">
      <div class="m-card-toolbar">
        <div class="botones">
          <span class="btn btn-config"> <i class="fas fa-ellipsis-v"></i></span>
        </div>
        <span class="titulo">Tipo de consumo</span>
      </div>
      <div class="m-card-body">
        <div id="chart_tipo_consumo"></div>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="m-card">
      <div class="m-card-toolbar">
        <div class="botones">
          <span class="btn btn-config"> <i class="fas fa-ellipsis-v"></i></span>
        </div>
        <span class="titulo">Día de más consumo?</span>
      </div>
      <div class="m-card-body">
        <div id="chart_dia_consumo"></div>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="m-card">
      <div class="m-card-toolbar">
        <div class="botones">
          <span class="btn btn-config"> <i class="fas fa-ellipsis-v"></i></span>
        </div>
        <span class="titulo">Carta de más consumo?</span>
      </div>
      <div class="m-card-body">
        <div id="chart_carta_consumo"></div>
      </div>
    </div>
  </div>

  <br><br>
  <div id="chart-row-spenders"></div>
  <br><br>
  <div id="chart-compositeChart"></div>
</div>
