<div class="row">
  <div class="col-md-12">
    <div class="m-card">
      <div class="m-card-toolbar">
        <div class="botones">
          <span class="btn btn-config"> <i class="fas fa-ellipsis-v"></i></span>
        </div>
        <span class="titulo">Cual es consumo de por meses y la rentabilidad obtenida?</span>
      </div>
      <div class="m-card-body" class="p-2">
        <div id="chart_consumo_mm_y_rentabilidad" class="w-100"></div>
      </div>
    </div>
  </div>
</div>  

<div class="row">
  <div class="col-md-6">
    <div class="m-card">
      <div class="m-card-toolbar">
        <div class="botones">
          <span class="btn btn-config"> <i class="fas fa-ellipsis-v"></i></span>
        </div>
        <span class="titulo">Consumo mensual mas rentabilidad</span>
      </div>
      <div class="m-card-body">
        <div id="chart_consumo_mm"></div>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="m-card">
      <div class="m-card-toolbar">
        <div class="botones">
          <span class="btn btn-config"> <i class="fas fa-ellipsis-v"></i></span>
        </div>
        <span class="titulo">Que dia consume mas mis clientes y cual es la rentabilidad?</span>
      </div>
      <div class="m-card-body">
        <div id="chart_consumo_dd"></div>
      </div>
    </div>
  </div>
  <br><br>
  <div id="chart-consumo"></div>
  <div id="chart-row-spenders"></div>
  <br><br>
  <div id="chart-compositeChart"></div>
</div>
